
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
    <div id="app">
        <div class="big">

            <div class="text-center">
                <h1 class="display-4">歡迎光臨</h1>
                <input type="text" :value="test" />
                <input type="button" value="提交" class="btn" v-on:click='ajax2' />
            </div>


            <div class="product-group">
                <div class="product-item" v-for="item in arr1">
                    {{item.userName}}
                </div>
            </div>

        </div>
    </div>
</body>
</html>

